* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/*NAVBAR*/
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /*border-bottom: none 1px #ffffff;   bottom border  */
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 40px;
  width: 40px;
}

.navbar-link {
  margin: 20;
  list-style: none;
  margin: 0.625rem;
}

.navbar-link-text {
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

.navbar-link-text:hover {
  text-decoration: underline;
} 

/*FEATURED PROJECTS*/ 
#featured_projects {
  margin: auto;
  margin-top: 3rem;
  max-width: 1300px;
  width: 1300px;
  width: auto;
  padding-left: 75px;
  padding-right: 75px;
  text-align: center;
}



/*ABOUT SECTION*/ 
#about-me{
  margin: auto;
  padding-bottom: 200px;  
  margin-top: 3rem;
  max-width: 1300px;
  width: 1300px;
  width: auto;
  padding-left: 75px;
  padding-right: 75px;
}

#about-heading {
  font-size: 2.5rem;
}

#about-body {
  display: flex;
  flex-direction: row;
}
 
#about-img {
  border-radius: 50%;
  margin: 20px;
}

/*PROJECT PAGE*/
#projects-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 75px;
}

#project {
  margin-top: 3rem;
  width: 100%;
  max-width: 1230px;
  padding: 0 75px;
  box-sizing: border-box;
  text-align: center;
}

/* TITLES AND TEXT */
#project-title {
  font-size: 2.5rem;
}

#section-header {
  font-size: 1.75rem;
}

#project-text {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

/* IMAGE CENTERING */
.project-page-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  box-sizing: border-box;
}


#qmk-badge:hover{
  opacity: 0.8;
}

/*TILES*/
#setof3tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
  padding-bottom: 200px;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  width: 400px;
  min-width: 400px;
  height: 550px;
  background-color: blue;
  border-radius: 24px;
  background-color: #ffffff;
  margin: 10px 10px;
  position: relative;
  padding: 12px 12px;
}

.tile:hover{
  /*border: 4px solid #0026ff;*/
  opacity: 80%;
}

#tile-header{
  font-size: 1.5rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color:#000000;
  text-align: center;
}

.tag {
  width: 105px;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #000000;
  background-color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  color:#000000;
  margin: 0px 5px;
}
/* hover fuction for tags
.tag:hover{
  border: 2px solid #0026ff;
  color: #0026ff;
}
*/

#tile-description {
  font-size: 1.1rem;
  font-style: normal;
  font-family:sans-serif;
  color:#000000;
  text-align: left;
  /* height: 250px; */
  margin-top: -5px;   
}

#setof3tags{
  display: flex;
  padding: 0px 10px 0px 10px;
  position: absolute;
  bottom: 10px;
}

.tile-img {
  width: 100%;
  height: 250px;
  border-radius: 16px;  
}

/*SKILLS*/
.skill {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  margin: 50px;
  font-size: 1.4rem;
 
}

#set-of-skills {
  margin: auto;
  margin-top: 3rem;
  width: 1230px;
  height: 600px;
  border-color: deeppink;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
}


/*Publications*/
#set-of-pubs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center; 
  padding-bottom: 200px;
}

.publication {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  width: 800px;
  min-width: 400px;
  background-color: blue;
  border-radius: 24px;
  background-color: #ffffff;
  margin: 10px 10px;
  position: relative;
}

#pub-header {
  margin: auto;
  margin-top: 3rem;
  max-width: 1300px;
  width: 1300px;
  width: auto;
  padding-left: 75px;
  padding-right: 75px;
}

#pub-title {
  font-size: 1.5rem;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  color:#000000;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#pub-description {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1rem;
  font-style: normal;
  font-family:sans-serif;
  color:#000000;
  text-align: left;
  /* height: 250px; */
  margin-top: -5px;  
}

.publication:hover{
  /*border: 4px solid #0026ff;*/
  opacity: 80%;
}

#error_page{
  padding-bottom: 650px;
}

/* Footer */
footer {
  margin-bottom: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}


/*STYLES FOR ALT WIDTH*/
/*times 2*/
@media (max-width: 1150px) {
  #logo {
    height: 80px;
    width: 80px;
  }
  .navbar-link a {
    font-size: 2rem;
  }
  .navbar-link a:hover {
    text-decoration: underline !important;
  }

  #project {
    margin: auto;
    margin-top: 3rem;
    width: auto;
    padding-left: 75px;
    padding-right: 75px;
  }

  #project-title {
    font-size: 4rem;
  }

  .publication {
    margin: auto;
    margin-top: 3rem;
    width: auto;
    width: 800px;
    padding-left: 24px;
    padding-right: 24px;
    margin: 30px 30px;    
    border-radius: 48px;
  }

  #pub-title {
    font-size: 3rem;
  }

  #pub-description {
    font-size: 2.2rem;
  }

  #about-me {
    margin: auto;
    width: auto;
    padding-left: 75px;
    padding-right: 75px;
  }

  #about-header {
    font-size: 2rem;
  }

  #about-img {
    width: 600px;
  }

  #about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
  }

  #setof3tiles {
    display: flex;
    flex-direction: column;
  }
  .tile {
    width: 800px;
    height: 1100px;
    margin: 30px 30px;
    padding: 24px 24px;
    border-radius: 48px;
  }
  #tile-header {
    font-size: 2.625rem;
  }

  #tile-description {
    font-size: 1.925rem;
  }

  .tag {
    width: 210px;
    height: 60px;
    border-radius: 30px 30px 30px 30px;
    border: 4px solid #000000;
    background-color: #ffffff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
  }

  #setof3tags{
    bottom: 20px;
  }

  .tile-img {
    width: 100%;
    height: 500px;
    border-radius: 32px;
  }

  footer {
    margin-bottom: 2rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
  } 
}
