* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f1f1f;
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

footer {
  margin-top: 100rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .7rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /*border-bottom: none 1px #ffffff;   bottom border  */
}

#navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 40px;
  width: 40px;
}

.navbar-link {
  margin: 20;
  list-style: none;
  margin: 0.625rem;
}

.navbar-link-text {
  color: white;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
}

.navbar-link-text:hover {
  text-decoration: underline;
} 

#about {
  margin: auto;
  margin-top: 3rem;
  width: 1000px;
}

#about-header {
  font-size: 2.5rem;
}

#project {
  margin: auto;
  margin-top: 3rem;
  width: 1000px;
}

#project-title {
  font-size: 2.5rem;
}

#section-header {
  font-size: 1.75rem;
}

#project-text {
  font-size: 1.5rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}


#qmk-badge {
  width: 20rem;
  margin: auto;
}

#qmk-badge:hover{
  opacity: 0.8;
}

#setof3tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center; 
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  width: 400px;
  min-width: 400px;
  height: 550px;
  background-color: blue;
  border-radius: 24px;
  background-color: #ffffff;
  margin: 10px 10px;
  position: relative;
  padding: 12px 12px;
}

.tile:hover{
  /*border: 4px solid #0026ff;*/
  opacity: 80%;
}

#tile-header{
  font-size: 1.5rem;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  color:#000000;
  text-align: center;
}


.tag {
  width: 105px;
  height: 30px;
  border-radius: 30px 30px 30px 30px;
  border: 2px solid #000000;
  background-color: #ffffff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  color:#000000;
  margin: 0px 5px;
}
/* hover fuction for tags
.tag:hover{
  border: 2px solid #0026ff;
  color: #0026ff;
}
*/

#tile-description {
  font-size: 1.1rem;
  font-style: normal;
  font-family:sans-serif;
  color:#000000;
  text-align: left;
  /* height: 250px; */
  margin-top: -5px;   
}

#setof3tags{
  display: flex;
  padding: 0px 10px 0px 10px;
  position: absolute;
  bottom: 10px;
}


.tile-img {
  width: 100%;
  height: 250px;
  border-radius: 16px;
}

@media (max-width: 1150px) {
  #logo {
    height: 80px;
    width: 80px;
  }
  .navbar-link a {
    font-size: 2rem;
  }
  .navbar-link a:hover {
    text-decoration: underline !important;
  }
  #setof3tiles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tile {
    width: 800px;
    height: 1100px;
    margin: 30px 30px;
    padding: 24px 24px;
    border-radius: 48px;
  }
  #tile-header {
    font-size: 2.625rem;
  }

  #tile-description {
    font-size: 1.925rem;
  }

  .tag {
    width: 210px;
    height: 60px;
    border-radius: 30px 30px 30px 30px;
    border: 4px solid #000000;
    background-color: #ffffff;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
  }

  #setof3tags{
    bottom: 20px;
  }


  .tile-img {
  width: 100%;
  height: 500px;
  border-radius: 32px;

  }

  /*times 2*/
}
